.filter-selection {
  color: rgb(61, 41, 41);
  border: 3px solid rgb(158, 158, 184);
  padding: 2px;
  border-radius: 4px;
}

.sub-title-edit {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgb(61, 41, 41);
}

.last-input-group {
  margin-top: 16px;
}
